[Unit]
Description=Labgrid Exporter (OpenWrt pool → Aparcar coordinator)
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
User=labgrid-dev
Group=labgrid-dev
Environment="PYTHONUNBUFFERED=1"
ExecStart=labgrid-exporter -n labgrid-fcefyn-openwrt -x coordinator.openwrt.org:20408 /etc/labgrid/exporter-openwrt.yaml
Restart=always
RestartSec=30
DynamicUser=yes
SupplementaryGroups=dialout plugdev

[Install]
WantedBy=multi-user.target
