[Unit]
Description=Labgrid Exporter (LibreMesh pool → local coordinator)
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
User=labgrid-dev
Group=labgrid-dev
Environment="PYTHONUNBUFFERED=1"
ExecStart=labgrid-exporter -n labgrid-fcefyn-libremesh -x localhost:20408 /etc/labgrid/exporter-libremesh.yaml
Restart=always
RestartSec=30
DynamicUser=yes
SupplementaryGroups=dialout plugdev

[Install]
WantedBy=multi-user.target
